.carousel-img {
    max-width: 100%;
    max-height: 350px;
    border-radius: 50px;
    object-fit: fill; /* Ensures the entire image is visible without cropping */
    margin: 0 auto;
  }

/* Moves the text on the right over to the middle, little hacky but idk what to do*/
.adjusttext {
    transform: translateX(60px);
}
  
/* Move the carousel arrows closer to the edge of the screen */
.carousel-control-prev,
.carousel-control-next {
  width: auto;
  top: 50%;
  transform: translateY(-50%);
}

/* Position the left arrow a bit closer to the screen edge */
.carousel-control-prev {
  left: 10px;
}

/* Position the right arrow similarly */
.carousel-control-next {
  right: 10px;
}

/* Move the indicators closer to the bottom edge of the carousel container */
.carousel-indicators {
  bottom: 10px;
}
